# A 32-byte hex string for AES-256
VAULT_MASTER_KEY=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=
INTERNAL_VAULT_API_KEY=
#For embedding and fact extraction not necessary if you do not add Key it defaults to random mock embedder that generates random embeddings.
OPENAI_API_KEY=
